<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
</head>
<body>
	<h1>Galguerias</h1>
	{% if latest_galguerias_list %}
    <ul class="list-group">
    {% for galguerias in latest_galguerias_list %}
        <li class="list-group-item"><a href="/monoku/{{ galguerias.id }}/">{{ galguerias}}</a></li> 
    {% endfor %}
    </ul>
{% else %}
    <p>No galguerias are available.</p>
{% endif %}

</body>
</html>