{% extends 'monoku/index.html' %}

{% block content %}
  <div class="jumbotron">
        <h1 class="display-4">Personas</h1>    
    </div>	
		{% if latest_personas_list %}
        <ul class="list-group">
        {% for personas in latest_personas_list %}
            <li class="list-group-item"><a href="/monoku/{{ personas.id }}/">{{ personas }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <div class="alert alert-primary" role="alert">
        <p>No monoku are available.</p>
    </div>
    {% endif %}
{% endblock %}
