{% extends 'monoku/index.html' %}

{% block content %}
  <div class="jumbotron">
        <h1 class="display-4">Preferencias</h1>    
    </div>	
	{% if latest_preferencias_list %}
        <ul class="list-group">
        {% for preferencias in latest_preferencias_list %}
            <li class="list-group-item"><a href="/monoku/{{ preferencias.id }}/">{{ preferencias}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <div class="alert alert-primary" role="alert">
        <p>No hay preferencias!.</p>
    </div>
    {% endif %}
{% endblock %}
